button {
    padding: 0 20px;
}

.my-container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-container div {
    width: calc(100% / 10);
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
}

.my-container .active {
    background-color: black;
    color: white;
}